$theme-color-primary: #54B689;
$theme-text-color-primary: #292929;
$theme-text-color-secondary: lighten($theme-text-color-primary, 15%);
$theme-text-color-light: lighten($theme-text-color-primary, 40%);
$theme-border-color:  lighten($theme-text-color-primary, 60%);

$theme-colors: (
  "primary":  $theme-color-primary,
  "secondary":  $theme-text-color-secondary,
);

h1, h2, h3, h4, h5, h6 {
  color: $theme-text-color-primary;
  font-weight: bold;
}

p, small {
  text-align: justify;
}

h1 {
  font-size: 2.75rem;
  font-weight: 900;
  letter-spacing: 0.4rem;
  color: $theme-color-primary;
  span{
    display: block;
    color: initial;
    font-size: 1.25rem;
    font-weight: 300;
  }
}

h2 {
  position: relative;
  padding-left: 1rem;
  font-size: 1.125rem;
  letter-spacing: 0.15rem;
  color: $theme-color-primary;
  &:before {
    content: "";
    display: inline-block;
    width: 5px;
    height: 100%;
    background: $theme-color-primary;
    position: absolute;
    left: 0;
    top: 0;
  }
}

h3 {
  font-size: 1rem;
}

a {
  color: $theme-text-color-primary;
  -webkit-text-decoration-color: rgba($theme-text-color-primary,0.3);
  text-decoration-color: rgba($theme-text-color-primary,0.3);
  &:hover {
    text-decoration: underline;
    color: $theme-color-primary;
    -webkit-text-decoration-color: rgba($theme-color-primary,0.8);
    text-decoration-color: rgba($theme-color-primary,0.8);
  }
}

/*********** Resume **********/


.border-left {
  border-left: 1px solid rgba(0, 0, 0, 0.08)!important;
  font-size: 0.75rem;
}

img {
  max-width: 120px;
}

p.intro {
  font-size: 0.875rem;
}

.item-meta {
  font-size: 0.75rem;
}
.item-content {
  font-size: 0.875rem;
}

.list {
  font-size: 0.875rem;
}
