<title>{{ .Site.Title }}</title>
<meta name="description" content="{{ .Site.Params.Description }}">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="shortcut icon" href="favicon.ico">
<link rel="alternate" href="{{ .Site.BaseURL }}" hreflang="fr-fr" />

{{ $profile := resources.Get .Site.Params.profile.avatar }}

<meta property="og:title" content="{{ .Site.Title }}" />
<meta property="og:description" content="{{ .Site.Params.Description }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ .Site.BaseURL }}" />
<meta property="og:image" content="{{ $profile.Permalink }}" />

<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@remy492" />
<meta name="twitter:title" content="{{ .Site.Title }}" />
<meta name="twitter:description" content="{{ .Site.Params.Description }}" />
<meta name="twitter:image" content="{{ $profile.Permalink }}" />

{{ $fontAwesome := resources.Get "css/all.min.css" }}

{{ $options := (dict "targetPath" "style.css" "outputStyle" "compressed" "enableSourceMap" true "includePaths" (slice "node_modules")) }}
{{ $style := resources.Get "scss/main.scss" | resources.ToCSS $options }}

{{ $css := slice $style | resources.Concat "css/bundle.css" }}
<link rel="stylesheet" href="{{ $css.Permalink }}">
